* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face { /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'GT America';
    src: url('../fonts/GTAmerica-CondensedBlack.woff2') format('TrueType');
}

@font-face { /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'Eina regular';
    src: url('../fonts/eina-regular.woff2') format('TrueType');
}

@font-face { /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'Eina bold';
    src: url('../fonts/eina-bold.woff2') format('TrueType');
}

h1, h2, h3, h4, p, a, footer{
    font-family: 'GT America', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

a{
    text-decoration: none;
    color: #111111;
}

img{
    width: 100vw;
    object-fit: cover;
}

/*-------------------------------eerste pagina----------------------------*/

/*--------------------header-------------------*/

.index header nav img{
    display: none;
}

.index header{
    background-color: red;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.index header a{
    border: 1px;
    font-size: 10em;
    display: flex;
    justify-content: center;
    margin-top: 0.11em;
    border: 20px solid black;
    padding: 0.3em;
    margin: 0.1em;
}

.index header a:nth-of-type(1){
    background-color: #00ca8e;
}

.index header a:nth-of-type(2){
    background-color: #FFE100;
}

.index header a:nth-of-type(3){
    background-color: white;
}

/*--------------------header-------------------*/

/*--------------------main-------------------*/

/*----1----*/

.index main section:nth-of-type(1) h1{ 
    background-color: #121212;
    color: white;
    text-align: center;
    font-size: 10em;
    padding: 0.25em;
    line-height: 1.015;
}

.index main section:nth-of-type(1) img{
    display: block;                         /* bron 1*/
}

/*----1----*/

/*----2----*/

.index main section:nth-of-type(2){ 
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    line-height: 1.015;
}

.index main section:nth-of-type(2) img{ 
    background-color: #00ca8e;
    width: 40vw;
    padding: 35px 15px;
}

.index main section:nth-of-type(2) h2{ 
    background-color: #ff84ca;
    padding-top: 1.6em;
    padding-left: 0.5em;

    font-size: 12.5em;
    align-items: center;
    color: #222222;
}

/*----2----*/

/*----3----*/

.index main section:nth-of-type(3){ 
    font-size: 5em;
    line-height: 1.015;
    padding: 0.5em 1.5em;
    color: #222222;
}

.index main section:nth-of-type(3) div:nth-of-type(1){ 
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.index main section:nth-of-type(3) p{ 
    color: #ff84ca;
    font-size: 0.8em;

    padding-top: 1em;
}

.index main section:nth-of-type(3) a{ 
    background-color: #00ca8e;
    font-size: 0.48em;
    text-transform: none;
    color: white;

    padding: 1em;
    margin-top: 1em;
}

.index main section:nth-of-type(3) div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}

.index main section:nth-of-type(3) div:nth-of-type(2) a:nth-of-type(2){
    width: 57vw;
}

.index main section:nth-of-type(3) div:nth-of-type(2) a:nth-of-type(3){
    width: 55vw;
}

/*----3----*/

/*----4----*/

.index main section:nth-of-type(4){ 
    background-color: #121212;
    color: white;
}

.index main section:nth-of-type(4) h2{ 
    font-size: 10em;
    line-height: 0.9;
    padding: 0.2em;
}

.index main section:nth-of-type(4) div{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5em;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 2.5em;
}

.index main section:nth-of-type(4) img{ 
    width: 92vw;
}

.index main section:nth-of-type(4) a{ 
    background-color: #00ca8e;
    color: white;
    text-align: center;
    
    font-size: 4em;
    padding: 0.5em;
    width: 70vw;
    margin-top: 1.5em;
}

/*----4----*/

/*----5----*/

.index main section:nth-of-type(5){ 
    background-color: #4DA1F8;
}

.index main section:nth-of-type(5) h2{ 
    font-size: 10em;
    line-height: 1;
    color: #222222;

    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.index main section:nth-of-type(5) h3{ 
    font-size: 6.5em;
    line-height: 1;
    color: #222222;

    padding: 0.2em;
}

/*----5----*/

/*----6----*/

.index main section:nth-of-type(6) h3{
    font-size: 7.5em;
    line-height: 0.8;

    padding: 1.1em;
    color: #222222;
}

.index main section:nth-of-type(6){
    padding: 20px;
}

.container{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 5em; 
    margin-bottom: 14em;
}

.item{ 
    text-align: center;
}

.item img{ 
    width: 100%;
}

.item-large{ 
    grid-column: span 2; 
    text-align: center;
    align-self: center;
}

.item-large img{
    width: 95vw;
}

.container p{ 
    margin-top: 1.5em;
    font-size: 3em;
    line-height: 1.15;
    color: #222222;
}

/*----6----*/

/*----7----*/

.index main section:nth-of-type(7){ 
    background-color: #121212;
    color: white;
    font-size: 6em;
    text-align: center;
    line-height: 1.15;
    padding: 1.4em 0.5em;
}

/*----7----*/

/*----8----*/

.index main section:nth-of-type(8){ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 0.9;
}

.index main section:nth-of-type(8) h3{ 
    background-color: #FFE100;
    padding: 0.5em;
    font-size: 13em;
    align-items: center;
    padding-top: 1.2em;
    color: #222222;
}

.index main section:nth-of-type(8) img{ 
    background-color: #ff84ca;
    width: 25vw;
    padding: 32px 20px;
}

/*----8----*/


/*----9----*/

.index main section:nth-of-type(9){  
    font-size: 6.05em;
    line-height: 1.015;
    color: #222222;
}

.index main section:nth-of-type(9) div:nth-of-type(1){
    padding: 0.5em 1.5em;
}

.index main section:nth-of-type(9) p{ 
    font-size: 0.5em;

    padding-top: 1em;
}

.index main section:nth-of-type(9) div:nth-of-type(2){
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    display: flex;
    flex-direction: column;
}

.index main section:nth-of-type(9) a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: #00ca8e;
    font-size: 0.4em;
    text-transform: none;
    color: white;
    margin-bottom: 1em;
}

.index main section:nth-of-type(9) a:nth-of-type(1){ 
    width: 85vw;
    padding: 20px;
    margin-left: 1.3em;
}

.index main section:nth-of-type(9) a:nth-of-type(2){ 
    padding: 20px;
    width: 63vw;
    margin-left: 6.85em;
}

.index main section:nth-of-type(9) a:nth-of-type(3){ 
    padding: 20px;
    width: 65vw;
    margin-left: 6.35em;
}

.index main section:nth-of-type(9) a img{ 
    width: 10vw;
    padding-left: 0.6em;
}

/*----9----*/


/*----10----*/

.how-it-works h2{  
    font-size: 13em;
    line-height: 1.015;
    background-color: #00ca8e;
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: #222222;
}

.how-it-works img{
    display: block;
}

.how-it-works img:nth-of-type(2){  
    background-color: #8016C1;
    padding: 7em 9em;
}

.index main section:nth-of-type(10) div:nth-of-type(2), .index section:nth-of-type(10) ul{ 
    color:white;
    background-color: #121212;
    padding-left: 3.5em;
    padding-top: 3em;
    list-style-type: none;
}

.index main section:nth-of-type(10) div:nth-of-type(2) li img{ 
    width: 15vw;
    object-fit: contain;
}

.index main section:nth-of-type(10) div:nth-of-type(2) p{ 
    font-size: 7em;
    line-height: 0.8;
    padding-bottom: 0.5em;
}

.index main section:nth-of-type(10) div:nth-of-type(3){ 
    background-color: #4DA1F8;
    color: white;
    font-size: 7em;
    line-height: 1.2;

    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.chickenandmeetsoon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chickenandmeetsoon img{
    width: 82vw;
}

.chickenandmeetsoon a{
    background-color: #00e4a1;
    padding: 20px 30px;
    color: white;
    font-size: 3.8em;
    width: 72vw;
    margin-bottom: 1em;
}

/*----10----*/

/*----11----*/

.index main section:nth-of-type(11) ul{ 
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 6em;
}

.index main section:nth-of-type(11) img{ 
    width: 19vw;
    border: 5px solid lightgray;
    padding: 1.5em;
}

/*----11----*/

/*--------------------main-------------------*/

/*-------------------------------eerste pagina----------------------------*/

/*-------------------------------tweede pagina----------------------------*/

/*--------------------header-------------------*/

.franchise header nav{
    background-color: red;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.8em 3em;
}

.franchise header a{
    border: 1px;
    font-size: 3em;
    margin-top: 0.11em;
    border: 6px solid black;
    padding: 0.5em 0.9em;
    margin: 0.2em;
}

.franchise header a:nth-of-type(1){
    background-color: white;
}

.franchise header a:nth-of-type(2){
    background-color: #00ca8e;
}

.franchise header a:nth-of-type(3){
    background-color: #FFE100;
}

.franchise header video{
    max-width: 100vw;
    display: block;
}

/*--------------------header-------------------*/

/*--------------------main-------------------*/

/*----1----*/

.franchise main section:nth-of-type(1) div{
    background-color: #111111;
    padding: 3em;
    font-size: 3.2em;
    line-height: 1;
}

.franchise h1{
    color: white;
    margin-bottom: 0.3em;
}

.franchise main section:nth-of-type(1) h2{
    color: #FFE100;
}

.franchise main section:nth-of-type(1) p{
    text-transform: none;
    font-size: 2em;
    margin: 4em;
    font-family: 'Eina regular', sans-serif;

}

/*----1----*/

/*----2----*/

.rij-afbeeldingen{
    background-color: #00ffb4;
    padding: 9em;
}

.rij-afbeeldingen img{
    display: block;
    max-width: 100%;
}

/*----2----*/

/*----3----*/

.franchise main section:nth-of-type(2){
    padding: 9em;
    background-color: #8016C1;
}

.franchise main section:nth-of-type(2) h3{
    font-size: 5em;
    line-height: 1;
}

.franchise main section:nth-of-type(2) h4{
    font-family: 'Eina bold', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: none;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.franchise main section:nth-of-type(2) p{
    text-transform: none;
    color: white;
    font-family: 'Eina regular', sans-serif;
    font-size: 1.5em;
}

.franchise main section:nth-of-type(2) div:nth-of-type(1){
    margin-bottom: 9em;
}

/*----3----*/

/*----4----*/

.franchise main section:nth-of-type(3){
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 9em 1em;
}

.franchise main section:nth-of-type(3) h2{
    color: #555555;
    font-size: 7em;
}

.franchise main section:nth-of-type(3) ul p:nth-of-type(1){
    color: white;
    font-size: 4em;
    margin-top: 2em;
}

.franchise main section:nth-of-type(3) ul p:nth-of-type(2){
    color: #FFE100;
    font-size: 4.5em;
}

/*----4----*/

/*----5----*/ 

.franchise main section:nth-of-type(4){
    padding: 9em;
    background-color: white;
}

.franchise main section:nth-of-type(4) h3{
    font-size: 5em;
    line-height: 1;
}

.franchise main section:nth-of-type(4) h4{
    font-family: 'Eina bold', sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.franchise main section:nth-of-type(4) p{
    text-transform: none;
    font-family: 'Eina regular', sans-serif;
    font-size: 1.5em;
}

.franchise main section:nth-of-type(4) div:nth-of-type(1),
.franchise main section:nth-of-type(4) div:nth-of-type(2),
.franchise main section:nth-of-type(4) div:nth-of-type(3){
    margin-bottom: 9em;
}

/*----5----*/

/*----6----*/ 

.franchise main section:nth-of-type(5){
    background-color: #00e4a1;
    padding-top: 6.5em;
    padding-bottom: 6.5em;
}

.franchise main section:nth-of-type(5) div{
    background-color: #00ffb4;
    padding: 7em 4.5em;
}

.franchise main section:nth-of-type(5) div:nth-of-type(1) div{
    background-color: white;
    margin-bottom: 7em;
}

.franchise main section:nth-of-type(5) h2{
    font-size: 5.5em;
    line-height: 1.3;
}

.franchise main section:nth-of-type(5) p{
    font-family: 'Eina regular', sans-serif;
    text-transform: none;
    font-size: 0.9em;
}

.franchise main section:nth-of-type(5) div div p{
    font-size: 1.4em;
}

.franchise main section:nth-of-type(5) a{
    background-color: black;
    color:#00ffb4;
    font-size: 3em;
    padding: 30px 50px;
}

input, textarea{ /* Voor de stijling van het invoerveld heb ik bron 8 gebruikt */
    padding: 25px 40px;
    margin-bottom: 35px;
    border: 2px solid #ccc;
    font-size: 2.6em;
    font-family: 'Eina regular', sans-serif;
    width: 64vw
}

form h3{
    margin-bottom: 1.5em;
    margin-top: 4em;
}

textarea{
    margin-bottom: 3.5em;
    height: 25vh;
}

td{
    width: 150vw;
}

/*----6----*/

/*----7----*/

.socials ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #4DA1F8;
    list-style-type: none;
    padding: 5em;
}

.socials img{
    width: 15vw;
    background-color: white;
    padding: 1em;
    margin: 1em;
}

/*----7----*/

/*--------------------main-------------------*/

/*-------------------------------tweede pagina----------------------------*/

/*--------------------footer-------------------*/

footer{
    color: #222222;
    margin-top: 3em;
}

footer h3{
    font-size: 5.3em;
    margin-bottom: 0.2em;
}

footer h2:nth-of-type(3){
    font-size: 1.8em;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

footer tr{
    font-size: 2.5em;
    line-height: 1.65;
}

footer section{
    margin-bottom: 3em;
    margin-left: 5em;
}

footer p{
    margin-top: 3.5em;
    margin-bottom: 8em;
}

footer section li{
    list-style-type: none;
}

footer div{
    background-color: #121212;
    margin-bottom: 25em;
    margin-top: 15em;
}

footer div a, footer div li{
    color: white;
    list-style-type: none;
    font-size: 0.9em;
    padding: 0.5em;
    line-height: 0.9;
}

.footer-franchise{
    background-color: lightgray;
    padding: 3em;
}

.footer-franchise a{
    color: black;
}

/*--------------------footer-------------------*/