* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{ /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'GT America';
    src: url('../fonts/GTAmerica-CondensedBlack.woff2') format('TrueType');
}

@font-face{ /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'Eina regular';
    src: url('../fonts/eina-regular.woff2') format('TrueType');
}

@font-face{ /*------ bron https://www.gangnamchicken.nl -----*/
    font-family:'Eina bold';
    src: url('../fonts/eina-bold.woff2') format('TrueType');
}

:root{ /* bron 10 gebruikt voor het color scheme */
    --blackBackground:#121212;
    --buttonBackground:#121212;
    --redBackground:red;
    --blueBackground:#4DA1F8;
    --whatiskfcBackground:#ff84ca;

    --colorGreen:#00ca8e;
    --greenBackground:#00ca8e;
    --colorGreen2:#00FFb4;
    --colorGreen3:#00E4A1;
    --colorGreen4:#00E4A1;
    --colorGreen5:#00FFb4;
    --colorYellow:#FFE100; 
    --backgroundYellow:#FFE100;
    --whiteText:white;
    --whiteBackground:white;
    --whiteBackground2:white;

    --colorPink:#ff84ca;
    --colorPurple:#8016C1;
    --colorLightGray:#555555;

    --textColorBlack:#111111; 
    --textColorBlack2:#222222;
    --textColorBlack3:#111111;
    --backgroundHeader:white;
    --whoweareBackground:#FFE100;

    --blackBorder:#000000;
    --greyBorder:#ccc;
}

.dark-theme{
    --whiteBackground:#121212;
    --whiteBackground2:#121212;
    --textColorBlack:white;
    --textColorBlack2:white;
    --backgroundHeader:#121212;
}

.hva-theme{
    --textColorBlack:white;
    --textColorBlack2:white;
    --colorLightGray:white;
    
    --greyBorder:black;
    --colorGreen5:black;

    --colorPurple:#1e1749;
    --blueBackground:#1e1749;
    --colorYellow:#1e1749;
    --redBackground:#1e1749;
    --whatiskfcBackground:#1e1749;
    --whoweareBackground:#1e1749;
    --whiteBackground2:#1e1749;
    --colorGreen4:#1e1749;
    --buttonBackground:#1e1749;

    --colorGreen:#f35279;
    --colorGreen2:#f35279;
    --colorGreen3:#f35279;
    --backgroundYellow:#f35279;
    --colorPink:#f35279;
    --backgroundHeader:#f35279;
    --textColorBlack3:#f35279;
   
    --blackBackground:#351fb7;
    --whiteBackground:#351fb7;
    --greenBackground:#351fb7;
}

h1, h2, h3, h4, p, a, footer, button{
    font-family: 'GT America', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

a{
    text-decoration: none;
    color: var(--textColorBlack);
}

img{
    width: 100vw;
    object-fit: cover;
}

strong{ /*-------Bron : heeft Bregtje, de studentenassistent, me mee geholpen--------*/
    font-weight: bolder;
    font-family:'Eina bold';
}

main{ /*deze regel code was nodig voor het dark-theme */
    background-color: var(--whiteBackground);
}

.green-background{
    background-color: var(--colorGreen);
}

.yellow-background{
    background-color: var(--backgroundYellow);
}

.white-background{
    background-color: var(--whiteBackground);
}

.blue-background{
    background-color: var(--blueBackground);
}
/*--------------------header-------------------*/

header{
    background-color: var(--redBackground);
}

header a{
    border: 0.15em solid var(--blackBorder);
    color: var(--textColorBlack);
}

header p:nth-of-type(1){ /* dark-mode knop */
    background-color: var(--whiteBackground);
    color: var(--textColorBlack);

    position: fixed;
    z-index: 2;
    left: 0.5em;
    top: 49em;

    font-size: 2em;
    text-align: center;
    padding: 1em;
    border-radius: 10em;
}

header p:nth-of-type(2){ /* hva-mode knop */
    background-color: var(--colorYellow);
    color: var(--textColorBlack);

    position: fixed;
    z-index: 2;
    left: 0.5em;
    top: 45em;

    font-size: 2em;
    text-align: center;
    padding: 1em;
    border-radius: 10em;
}

/*-index-*/

.i-header{
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.i-header img{
    display: none;
    margin-bottom: 1em;
}

.i-header div:nth-of-type(2) a:nth-of-type(3){
    background-color: var(--backgroundHeader);
}

.i-header a{
    display: flex;
    justify-content: center;

    font-size: 10em;

    padding: 0.3em;
    margin: 0.1em;

    transition: all 0.4s ease; /* toegevoegd om de overgang (iets) soepeler te laten verlopen */
}

@media (prefers-reduced-motion){
    .i-header-a{
        transition: all 0.7s ease;
    }
}
  
.i-header-scroll{
    position: fixed;
    z-index: 2;
    width: 100vw;

    padding: 0.5em 1em;
}

.i-header-scroll nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i-header-scroll nav div:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1em;
    width: 100vw;
}

.i-header-scroll img{
    width: 90vw;
    object-fit: cover;
    margin-top: 1em;
}

.i-header-scroll a{
    font-size: 3em;
    margin: 0.21em;
}

/*-index-*/

/*-franchise-*/

.f-header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: fixed; /*-voor consistentheid tussen de pagina's deze ook position fixed gemaakt-*/
    z-index: 2;

    padding: 2.8em 3em;
    background-color: var(--redBackground);
    width: 100%;
}

.f-header a{
    font-size: 3em;

    padding: 0.5em 0.9em;
    margin: 0.2em;
}

.f-header a:nth-of-type(1){
    background-color: var(--backgroundHeader);
}

video{
    display: block;
    max-width: 100vw;
    padding-top: 15em;
}

/*-franchise-*/

/*--------------------header-------------------*/

/*--------------------main-------------------*/

/*----1----*/

/*-index-*/

.i-hereweare h1{
    color: var(--whiteText);

    text-align: center;
    font-size: 10em;
    line-height: 1.015;

    padding: 0.25em;

    opacity: 0;
    transform: translateY(4em); 
    animation: omhoog 0.7s ease-out forwards;
}

@media (prefers-reduced-motion){
    .i-hereweare h1{
        animation: omhoog 1.5s ease-out forwards;
    }
}

.i-hereweare{
    background-color: var(--blackBackground);
}

@keyframes omhoog{
    to{
        opacity: 1;
        transform: translateY(0); 
    }
}

.i-hereweare img{
    display: block;       /* bron 1*/
}

/*-index-*/

/*-franchise-*/

.f-wordfranchisenemer{
    background-color: var(--whiteBackground2);
}

.f-wordfranchisenemer div{
    background-color: var(--blackBackground);

    font-size: 3.2em;
    line-height: 1;

    padding: 3em;
}

.f-wordfranchisenemer h1{
    color: var(--whiteText);

    margin-bottom: 0.3em;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.f-wordfranchisenemer h2{
    color: var(--backgroundYellow);

    opacity: 0;
    animation: fadeIn 1s forwards;
}

.f-wordfranchisenemer p{
    font-family: 'Eina regular', sans-serif;
    text-transform: none;
    font-size: 2em;

    margin: 4em;
    padding-bottom: 4em;
    color: var(--textColorBlack2);

    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    to {
        opacity: 1; 
    }
}

@media (prefers-reduced-motion){
    .f-wordfranchisenemer h1{
        animation: fadeIn 1.5s forwards;
    }
    
    .f-wordfranchisenemer h2{
        animation: fadeIn 1.5s forwards;
    }

    .f-wordfranchisenemer p{
        animation: fadeIn 1.5s forwards;
    }
}

/*-franchise-*/

/*----1----*/

/*----2----*/

/*-index-*/

.i-whatiskfc{ 
    background-color: var(--whatiskfcBackground);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    line-height: 1.015;
}

.i-whatiskfc img{ 
    background-color: var(--colorGreen);
    width: 40vw;

    padding: 2.19em 1em;
}

.i-whatiskfc h2{ 
    align-items: center;

    font-size: 12.5em;
    color: var(--textColorBlack2);

    padding-top: 1.6em;
    padding-left: 0.5em;

    animation: bounce 0.8s ease-in-out;
}

@media (prefers-reduced-motion){
    .i-whatiskfc h2{
        animation: bounce 1.5s ease-in-out;
    }
}

@keyframes bounce{
    0%{
        transform: scale(1); 
    }

    20%{
        transform: scale(1.2); 
    }

    40%{
        transform: scale(0.8); 
    }

    60%{
        transform: scale(1.1);
    }

    80%{
        transform: scale(0.9); 
    }

    100%{
        transform: scale(1); 
    }
}

/*-index-*/

/*-franchise-*/

.f-rijafbeeldingen{
    background-color: var(--greenBackground);
    padding: 9em;
}

.f-rijafbeeldingen img{
    display: block;
    max-width: 100%;
    opacity: 0;
    transition: opacity 1s ease; 
}

.f-rijafbeeldingen img.loaded{
    opacity: 1; 
}

/*-franchise-*/

/*----2----*/

/*----3----*/

/*-index-*/

.i-mixkoreanstreetfood{ 
    color: var(--textColorBlack2);
    background-color: var(--whiteBackground);
    font-size: 5em;
    line-height: 1.015;

    padding: 0.5em 1.5em;
}

.i-mixkoreanstreetfood div:nth-of-type(1){ 
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.i-mixkoreanstreetfood p{ 
    color: var(--colorPink);
    font-size: 0.8em;

    padding-top: 1em;
}

.i-mixkoreanstreetfood a{ 
    background-color: var(--colorGreen);

    font-size: 0.48em;
    text-transform: none;
    color: var(--whiteText);

    padding: 1em;
    margin-top: 1em;
}

.i-mixkoreanstreetfood div:nth-of-type(2){
    display: flex;
    flex-direction: column;
}

.i-mixkoreanstreetfood div:nth-of-type(2) a:nth-of-type(2){
    width: 57vw;
}

.i-mixkoreanstreetfood div:nth-of-type(2) a:nth-of-type(3){
    width: 55vw;
}

/*-index-*/

/*-franchise-*/

.f-succesformule{
    background-color: var(--colorPurple);

    padding: 9em;
}

.f-succesformule article{
    animation: fadeIn 1s forwards;
}

@media (prefers-reduced-motion){
    .f-succesformule article{
        animation: fadeIn 1.5s forwards;
    }
}

.f-succesformule h3{
    font-size: 5em;
    line-height: 1;
    color: var(--textColorBlack2);
}

.f-succesformule h4{
    font-family: 'Eina bold', sans-serif;
    color: var(--whiteText);
    text-transform: none;
    font-size: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.f-succesformule p{
    font-family: 'Eina regular', sans-serif;
    text-transform: none;
    color: var(--whiteText);
    font-size: 1.5em;
}

.f-succesformule article:nth-of-type(1){
    margin-bottom: 9em;
}

/*-franchise-*/

/*----3----*/

/*----4----*/

/*-index-*/

.i-gangnamwear{ 
    color: var(--whiteText);
    background-color: var(--blackBackground);
}

.i-gangnamwear h2{ 
    font-size: 10em;
    line-height: 0.9;
    padding: 0.2em;
    transform: translateY(4em); 

    animation: omhoog 0.7s ease-out forwards; 
}

@media (prefers-reduced-motion){
    .i-gangnamwear h2{
    transition: border 1.5s ease-in;
    }
}

.i-gangnamwear div{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 5em;
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 2.5em;
}

.i-gangnamwear img{ 
    width: 92vw;
    display: block;
    z-index: 1;
}

.i-gangnamwear a{ 
    background-color: var(--colorGreen);
    color: var(--whiteText);
    text-align: center;
    font-size: 4em;

    padding: 0.5em;
    width: 70vw;
    margin-top: 1.5em;

    display: block;
    z-index: 1;
}

/*-index-*/

/*-franchise-*/

.f-factsandfigures{
    background-color: var(--blackBackground);
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    padding: 9em 1em;
}

.f-factsandfigures h2{
    color: var(--colorLightGray);
    font-size: 7em;
}

.f-factsandfigures ul p:nth-of-type(1){
    color: var(--whiteText);
    font-size: 4em;

    margin-top: 2em;
}

.f-factsandfigures ul p:nth-of-type(2){
    color: var(--backgroundYellow);
    font-size: 4.5em;
}

/*-franchise-*/

/*----4----*/

/*----5----*/

/*-index-*/

.i-whatourcustomerssay{ 
    background-color: var(--blueBackground);
}

.i-whatourcustomerssay h2{ 
    font-size: 10em;
    line-height: 1;
    color: var(--textColorBlack2);

    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.i-whatourcustomerssay h3{ 
    font-size: 6.5em;
    line-height: 1;
    color: var(--textColorBlack2);

    padding: 0.2em;
}

/*-index-*/

/*-franchise-*/

.f-ondersteuningondernemers{
    background-color: var(--whiteBackground2);
    color: var(--textColorBlack);

    padding: 9em;
}

.f-ondersteuningondernemers article{
    animation: fadeIn 1s forwards;
}

@media (prefers-reduced-motion){
    .f-ondersteuningondernemers article{
        animation: fadeIn 1.5s forwards;
    }
}

.f-ondersteuningondernemers h3{
    font-size: 5em;
    line-height: 1;
}

.f-ondersteuningondernemers h4{
    font-family: 'Eina bold', sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 2em;

    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.f-ondersteuningondernemers p{
    text-transform: none;
    font-family: 'Eina regular', sans-serif;
    font-size: 1.5em;
}

.f-ondersteuningondernemers article:nth-of-type(1),
.f-ondersteuningondernemers article:nth-of-type(2),
.f-ondersteuningondernemers article:nth-of-type(3){
    margin-bottom: 9em;
}

/*-franchise-*/

/*----5----*/

/*----6----*/

/*-index-*/

.i-fewofourdishes h3{
    color: var(--textColorBlack2);
    
    font-size: 7.5em;
    line-height: 0.8;

    padding: 1.1em;
}

.i-fewofourdishes{
    padding: 1.2em;
    background-color: var(--whiteBackground);
}

.i-fewofourdishes div{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 5em;
    
    margin-bottom: 14em;
}

.i-fewofourdishes div article{ 
    text-align: center;
}

.i-fewofourdishes div article img{ 
    width: 100%;
}

.i-fewofourdishes div article:nth-child(5){ 
    grid-column: span 2; 
    text-align: center;
    align-self: center;
}

.i-fewofourdishes div article:nth-child(5) img{
    width: 95vw;
}

.i-fewofourdishes div p{ 
    margin-top: 1.5em;
    font-size: 3em;
    line-height: 1.15;
    color: var(--textColorBlack2);
}

/*-index-*/

/*-franchise-*/

.f-incontactkomen{
    background-color: var(--colorGreen5);

    padding-top: 6.5em;
    padding-bottom: 6.5em;
}

.f-incontactkomen div{
    background-color: var(--colorGreen4);

    padding: 7em 4.5em;
}

.f-incontactkomen div:nth-of-type(1) div{
    background-color: var(--whiteBackground);
    color: var(--textColorBlack);

    margin-bottom: 7em;
}

.f-incontactkomen h2{
    font-size: 5.5em;
    line-height: 1.3;
}

.f-incontactkomen p{
    font-family: 'Eina regular', sans-serif;
    text-transform: none;
    font-size: 0.9em;
    
    color: var(--textColorBlack);
}

.f-incontactkomen div div p{
    font-size: 1.4em;
}

button{
    background-color: var(--buttonBackground);

    color: var(--colorGreen);
    font-size: 3em;

    padding: 0.7em 1.5em;
}

input, textarea{ /* Voor de stijling van het invoerveld heb ik bron 8 gebruikt */
    font-family: 'Eina regular', sans-serif;
    font-size: 2.6em;
    width: 64vw;

    border: 0.1em solid var(--greyBorder);

    padding: 0.7em;
    margin-bottom: 35px;

    transition: border 0.1s ease-in;
}

@media (prefers-reduced-motion){
    .input, textarea{
    transition: border 0.5s ease-in;
    }
}

input:focus,
textarea:focus{
    border: 0.1em solid var(--colorGreen2);
    outline: none;
}

form h3{
    margin-bottom: 1.5em;
    margin-top: 4em;
}

textarea{
    margin-bottom: 3.5em;
    height: 25vh;
}

td{
    width: 150vw;
}

/*-franchise-*/

/*----6----*/

/*----7----*/

/*-index-*/

.i-eatin{ 
    background-color: var(--blackBackground);
    color: var(--whiteText);
    font-size: 9em;
    text-align: center;

    line-height: 1.15;
    padding: 0.5em 0.5em;
}

/*-index-*/

/*----7----*/

/*----8----*/

/*-index-*/

.i-whoweare{ 
    background-color: var(--whoweareBackground);

    display: flex;
    flex-direction: row;
    justify-content: center;

    line-height: 0.9;
}

.i-whoweare h3{ 
    align-items: center;
    font-size: 13em;
    color: var(--textColorBlack);

    padding: 0.5em;
    padding-top: 1em;

    animation: bounce 0.8s ease-in-out;
}

@media (prefers-reduced-motion){
    .i-whoweare h3{
        animation: bounce 1.5s ease-in-out;
    }
}

.i-whoweare img{ 
    background-color: var(--colorPink);

    width: 25vw;
    padding: 2.0em 1.6em;
}

/*-index-*/

/*-franchise-*/

.f-socials ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: var(--blueBackground);
    list-style-type: none;
    padding: 5em;
}

.f-socials i.fa-linkedin-in{
    animation: bounce 8s infinite;
}

.f-socials i.fa-facebook{
    animation: fa-beat-fade 2.5s infinite;
}

.f-socials i.fa-instagram{
    animation: fa-flip 3s infinite;
}

@media (prefers-reduced-motion){
    .f-socials i.fa-linkedin-in{
        animation: bounce 15s infinite;
    }
    .f-socials i.fa-facebook{
        animation: fa-beat-fade 6s infinite;
    }
    .f-socials i.fa-instagram{
        animation: fa-flip 8s infinite;
    }
}

.f-socials div{
    font-size: 5em;
    background-color: var(--whiteBackground);

    padding: 0.5em;
    margin: 0.2em;
}

/*-franchise-*/

/*----8----*/

/*----9----*/

/*-index-*/

.i-justthreefriends{  
    font-size: 6.05em;
    line-height: 1.015;
    color: var(--textColorBlack);
    background-color: var(--whiteBackground);
}

.i-justthreefriends article:nth-of-type(1){
    padding: 0.5em 1.5em;
}

.i-justthreefriends p{ 
    font-size: 0.5em;

    padding-top: 1em;
}

.i-justthreefriends article:nth-of-type(2){
    display: flex;
    flex-direction: column;

    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.i-justthreefriends a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: var(--colorGreen);
    font-size: 0.4em;
    text-transform: none;
    color: var(--whiteText);

    margin-bottom: 1em;
}

.i-justthreefriends a:nth-of-type(1){ 
    width: 85vw;
    padding: 0.6em;
    margin-left: 1.3em;
}

.i-justthreefriends a:nth-of-type(2){ 
    padding: 0.6em;
    width: 63vw;
    margin-left: 6.85em;
}

.i-justthreefriends a:nth-of-type(3){ 
    padding: 0.6em;
    width: 65vw;
    margin-left: 6.35em;
}

.i-justthreefriends a img{ 
    width: 10vw;
    padding-left: 0.6em;
}

/*-index-*/

/*----9----*/

/*----10----*/

/*-index-*/

.firstthreeblocks h2{
    color: var(--textColorBlack);
    font-size: 13em;
    line-height: 1.015;
    text-align: center;

    padding-top: 0.7em;
    padding-bottom: 0.7em;

    animation: bounce 0.8s ease-in-out;
}

@media (prefers-reduced-motion){
    .firstthreeblocks h2{
        animation: bounce 1.5s ease-in-out;
    }
}

.i-howitworks .firstthreeblocks{
    background-color: var(--colorGreen);
}

.firstthreeblocks img{
    display: block;
}

.firstthreeblocks img:nth-of-type(2){  
    background-color: var(--colorPurple);

    padding: 7em 9em;
}

.i-howitworks div:nth-of-type(2), 
.i-howitworks ul{ 
    color: var(--whiteText);
    background-color: var(--blackBackground);

    padding-left: 3.5em;
    padding-top: 3em;
    list-style-type: none;
}

.i-howitworks li div{
    display: flex;
    flex-direction: row;
}

.i-howitworks ul li{
    transform: translateY(8em); 
    animation: omhoog 0.5s ease-out forwards; 
} 

@media (prefers-reduced-motion){
    .i-howitworks ul li{
        animation: omhoog 1s ease-out forwards; 
    }
}

.i-howitworks div:nth-of-type(2) li img{ 
    width: 15vw;
    object-fit: contain;
}

.i-howitworks div:nth-of-type(2) p{ 
    font-size: 7em;
    line-height: 0.8;

    padding-bottom: 0.5em;
}

.i-howitworks div:nth-of-type(3) h2{ 
    color: var(--whiteText);
    font-size: 11em;
    line-height: 1.2;
    text-align: center;
    
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    animation: bounce 0.8s ease-in-out;
}

@media (prefers-reduced-motion){
    .i-howitworks div:nth-of-type(3) h2{
        animation: bounce 1.5s ease-in-out;
    }
}

.chickenandmeetsoon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chickenandmeetsoon img{
    width: 82vw;
    animation: verplaatsendeKip 3s ease-in-out infinite;
}

@media (prefers-reduced-motion){
    .chickenandmeetsoon img{
    animation: verplaatsendeKip 7s ease-in-out infinite;
    }
}

@keyframes verplaatsendeKip{
    0%{
        transform: translateX(-30px); 
    }
    50% {
        transform: translateX(30px);
    }
    100%{
        transform: translateX(-30px);
    }
}

.chickenandmeetsoon a{
    background-color: var(--colorGreen3);
    color: var(--whiteText);
    font-size: 3.8em;
    width: 72vw;

    margin-bottom: 1em;
    padding: 0.4em 0.4em;

    animation: schudden 3s infinite ease;
}

@media (prefers-reduced-motion){
    .chickenandmeetsoon a{
    animation: schudden 6s infinite ease;
    }
}

@keyframes schudden{
    0%{
      transform: rotate(-5deg);
    }
    25%{
      transform: rotate(5deg);
    }
    50%{
      transform: rotate(-5deg);
    }
    75%{
      transform: rotate(5deg);
    }
    100%{
      transform: rotate(-5deg);
    }
}

/*-index-*/

/*----10----*/

/*----11----*/

/*-index-*/

aside{
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 2em;
    margin: 2em;
}

.fa-arrow-up{
    background-color: var(--blackBackground);
    color: var(--colorGreen);
    align-self: center;

    font-size: 3em;
    margin-bottom: 0.5em;

    width: 1.5em;  
    height: 1.5em; 
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    padding: 10px;
}

/*-index-*/

/*----11----*/

/*----12----*/

/*-index-*/

.i-socials ul{ 
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;

    margin-top: 6em;

    opacity: 0;  
    transform: translateX(-20px); 

    animation: invoegen 1s forwards; 
}

@media (prefers-reduced-motion){
    .i-socials ul{
    animation: invoegen 3s forwards; 
    }
}

.i-socials div{
    font-size: 5em;
    padding: 0.7em;
    border: 0.07em solid var(--greyBorder);
    background-color: var(--whiteBackground);
}

@keyframes invoegen{ /*  zodat de icons van links naar rechts binnenkomen */
    to{
        opacity: 1;         
        transform: translateX(0);
    }
}

.fa-brands.fa-instagram{
    animation: fa-spin 6s infinite linear;
}

.fa-brands.fa-facebook{
    animation: fa-bounce 1s infinite;
    animation-delay: 0.2s
}

.fa-regular.fa-envelope{
    animation: kleurovergang 7s linear 3s infinite normal none running; 
    animation-delay: 0.4s
}

.fa-solid.fa-phone{
    animation: fa-shake 4s infinite;
    animation-delay: 0.6s
}

@media (prefers-reduced-motion){
    .fa-brands.fa-instagram{
        animation: fa-spin 10s infinite linear;
    }
    
    .fa-brands.fa-facebook{
        animation: fa-bounce 4s infinite;
        animation-delay: 0.2s
    }
    
    .fa-regular.fa-envelope{
        animation: kleurovergang 13s linear 3s infinite normal none running; 
        animation-delay: 0.4s
    }

    .fa-solid.fa-phone{
        animation: fa-shake 7s infinite;
        animation-delay: 0.6s
    }
}

@keyframes kleurovergang{ 
    0%{
      color: var(--textColorBlack);
    }
  
    25%{
      color: var(--colorGreen3);
    }
    
    50%{
      color: var(--colorGreen2);
    }

    75%{
        color: var(--colorGreen);
    }
    
    100%{
      color: var(--textColorBlack);
    }
}

/*-index-*/

/*----12----*/

/*--------------------main-------------------*/

/*--------------------footer-------------------*/

footer{
    color: var(--textColorBlack2);
    background-color: var(--whiteBackground);
    padding-top: 5em;
    margin-bottom: 5em;
}

footer h3{
    font-size: 5.3em;
    margin-bottom: 0.2em;
}

footer h2:nth-of-type(3){
    font-size: 1.8em;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

footer tr{
    font-size: 2.5em;
    line-height: 1.65;
}

footer section{
    margin-bottom: 3em;
    margin-left: 5em;
}

footer p{
    margin-top: 3.5em;
    margin-bottom: 8em;
}

footer section li{
    list-style-type: none;
}

footer div{
    background-color: var(--blackBackground);
    margin-top: 13em;
    margin-bottom: 26em;
    padding-bottom: 9em;
}

footer div a, footer div li{
    color: var(--whiteText);
    list-style-type: none;
    font-size: 0.9em;
    
    padding: 1.2em;
    line-height: 0.9;
}

/*--------------------footer-------------------*/